<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#3498db">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=qABkN83aB9">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=qABkN83aB9">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=qABkN83aB9">
    <link rel="manifest" href="/site.webmanifest?v=qABkN83aB9">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=qABkN83aB9" color="#3498db">
    <link rel="shortcut icon" href="/favicon.ico?v=qABkN83aB9">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif+SC">
    <link rel="stylesheet" type="text/css" href="/_include/css/index.css">
    <script src="/_include/js/main.js"></script>
    
    <title>@@if(context.title) { @@title@@ - Jake Junker }@@ @@if(context.specialTitle) {@@specialTitle@@}@@</title>
</head>