@@include("html/partials/misc-stuff.html")@@
<header id="main-header" @@if(context.hidden) { class="hidden" }@@>
    <div id="nav-bar-container">
        <a class="nav-bar-logo" href="/" data-ajax-target="#main">JAKE <span style="font-weight: 400; pointer-events: none;">JUNKER</span></a>
        <nav id="main-nav">
            <a class="nav-btn home @@if(current === "home") {current}@@" href="/" data-ajax-target="#main">HOME</a>
            <a class="nav-btn @@if(current === "work") {current}@@" href="/work/" data-ajax-target="#main">WORK</a>
            <a class="nav-btn @@if(current === "contact") {current}@@" href="/contact/" data-ajax-target="#main">CONTACT</a>
            <a class="nav-btn @@if(current === "about") {current}@@" href="/about/" data-ajax-target="#main">ABOUT</a>
        </nav>
    </div>
</header>
@@include("html/partials/github-corner.html")@@