<header>
    <div id="nav-bar-container" class="ajax">
        <a class="nav-bar-logo" href="/">JAKE JUNKER</a>
        <nav id="main-nav">
            <a class="nav-btn @@if (current === "home") { current }@@" href="/">HOME</a>
            <a class="nav-btn @@if (current === "work") { current }@@" href="/work/">WORK</a>
            <a class="nav-btn @@if (current === "contact") { current }@@" href="/contact/">CONTACT</a>
            <a class="nav-btn @@if (current === "about") { current }@@" href="/about/">ABOUT</a>
        </nav>
    </div>
</header>