<header>
    <div id="nav-bar-container">
        <a class="nav-bar-logo" href="/">JAKE JUNKER</a>
        <nav id="main-nav" class="ajax">
            <a class="nav-btn @@if (current === "home") { current }@@" href="/">HOME</a>
            <a class="nav-btn @@if (current === "projects") { current }@@" href="/projects/">PROJECTS</a>
            <a class="nav-btn @@if (current === "about") { current }@@" href="/about/">ABOUT</a>
            <a class="nav-btn @@if (current === "contact") { current }@@" href="/contact/">CONTACT</a>
        </nav>
    </div>
</header>