.ani-button
{
    position: relative;
    overflow: hidden;
}

.ani-button:before
{
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    height: 0;
    padding-bottom: 100%;

    left: 0;
    top: 50%;
    margin-top: -50%;

    -webkit-transition: background .2s, border-radius .2s;
    transition: background .2s, border-radius .2s;
}

.ani-button:hover:before
{
    border-radius: 3px;
    background: rgba(0,0,0,0.05);
}

.ani-button:active:before
{
    border-radius: 50%;
    background: rgba(0,0,0,0.05);

    width: 80%;
    padding-bottom: 80%;
    top: 50%;

    left: 50%;
    margin-left: -40%;
    margin-top: -40%;

    animation-name: circle-ani;
    animation-duration: 0.2s;
}

@keyframes circle-ani
{
    0%
    {
        -webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
    }
    100%
    {
        -webkit-transform: scale3d(1.00, 1.00, 1);
        transform: scale3d(1.00, 1.00, 1);
    }
}
