#contact-form
{
    padding: 0 0 32px 0;
    width: 100%;
}

#contact-form label
{
    display: none;
}

#contact-form input[type=text],
#contact-form textarea
{
	font-family: inherit;
    font-size: 1em;
    font-weight: 100;
    line-height: 2em;
	
    width: 100%;
    min-height: 2.75em;
	padding: 0.375em 12px;
    margin: 0 0 2px 0;
    border: none;
}

#contact-form .input-style
{
    width: 100%;
    margin-top: 16px;
}

#contact-form textarea
{
	resize: vertical;
    vertical-align: top;
    padding: 12px;
    line-height: 1em;
}

#contact-pane
{
	margin: 0 0 32px 0;
	padding: 7px 16px 16px 16px;
	border: solid 1px;
	border-radius: 3px;
    
    width: 100%;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{	
	#contact-form
	{
        padding: 0 32px 32px 0;
        order: 1;
	}
    
    #contact-form .input-style
    {
        max-width: 128px;
    }
	
	#contact-pane
	{
        margin: 0 0 32px 0;
        order: 2;
        width: auto;
	}
}
