@import "globals";

.github-corner
{
    display: none;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
    @keyframes octocat-wave
    {
        0%, 56%, 100%
        {
            transform:rotate(0)
        }
        11%, 33%
        {
            transform:rotate(-25deg)
        }
        22%, 44%
        {
            transform:rotate(10deg)
        }
    }

    .github-corner
    {
        display: initial;
        position: absolute;
        z-index: 1;
        right: 0;

        &:hover
        {
            border: none !important;

            .octo-arm
            {
                animation: octocat-wave 1s ease-in-out;
                animation-iteration-count: infinite;
            }
        }
    }

    .github-corner-svg
    {
        border: 0; 
        color: #f8f8f9; 
        fill: $primary-color;
        transition: color 200ms;
    }

    html.night-vision .github-corner-svg
    {
        color: #26292e;
    }
}