@keyframes fadeInImage
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.image-round
{
    animation: fadeInImage 375ms;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    display: block;
    height: 200px;
    margin: 0 auto;
    margin-top: 16px;
    shape-outside: margin-box;
    width: 200px;

    @media only screen and (min-width: 1px) and (min-width: 737px)
    {
        margin-bottom: 16px;

        &.inline-left
        {
            float: left;
            margin-right: 32px;
        }

        &.inline-right
        {
            float: right;
            margin-left: 32px;
        }
    }
}