@import "globals";

$nav-bar-height-mobile:  48px;
$nav-bar-height-desktop: 96px;

#main-header-border
{
	@media only screen and (min-width: 737px)
	{
		background-color: #3498db;
    	background-image: linear-gradient(to right, #9b59b6, #3498db);
		min-height: 8px;
	}
}

/* The visible bar up top */
#main-header
{
	font-family: $secondary-font;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1;
	
	@media only screen and (min-width: 737px)
	{
		border-bottom: solid 1px #d0d0d0;
		position: static;
		transition: visibility 200ms, transform 200ms;
		transition-delay: 150ms;
		visibility: visible;
		will-change: transform;

		&.hidden
		{
			transform: translateY(-100%);
			transition-delay: 75ms;
			visibility: hidden;
		}
	}
}

html.night-vision #main-header
{
	border-color: #505050;
}

#nav-bar-container
{
	display: flex;
	justify-content: space-between;
	
	@media only screen and (min-width: 737px)
	{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1300px;
		padding: 0 80px 0 32px;
	}

	@media only screen and (min-width: 1400px)
	{
		padding: 0 32px;
	}
}


// The logo in the top left (only on desktop)
.nav-bar-logo
{
	display: none;

	@media only screen and (min-width: 737px)
	{
		align-items: center;
		border: none !important;
		color: #333;
		display: flex;
		font-family: "Lato", sans-serif;
		font-size: 24px;
		font-weight: 100;
		letter-spacing: -1px;
		line-height: $nav-bar-height-desktop;
		padding-right: 16px;

		@keyframes logoMove
		{
			8%        { transform: rotateZ(60deg); }
			16%       { transform: rotateZ(-30deg); }
			24%       { transform: rotateZ(15deg); }
			32%, 100% { transform: rotateZ(0deg); }
		}

		// The svg portion of the logo thing
		&::before
		{
			content: "";
			background-image: url("/_include/img/logo_v2_gradient.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;
			display: inline-block;
			height: 40px;
			margin: 16px;
			width: 40px;
			will-change: transform;
		}

		// Hovering over the logo makes the svg part move
		&:hover::before,
		&.loading::before
		{
			animation: logoMove 1s ease-in-out;
			animation-iteration-count: infinite;
		}
	}
}

html.night-vision .nav-bar-logo
{
	color: #ddd;
}

// The container holding the navigation links
#main-nav
{
	@include main-gradient;

	display: flex;
	height: $nav-bar-height-mobile;
	line-height: $nav-bar-height-mobile;
	width: 100%;

	@media only screen and (min-width: 737px)
	{
		align-items: center;
		background: none;
        height: $nav-bar-height-desktop;
		justify-content: flex-end;
		width: 475px;
	}
}