@import "globals";

.project-blks
{
    margin-top: 96px;
}

.proj-block
{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;

    @media only screen and (min-width: 737px)
    {
        align-items: unset;
        flex-direction: row;
        padding: 3px;
    }
}

.proj-link
{
    background-clip: padding-box;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none !important;
    border-radius: 8px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    color: #fefeff;
    display: block;
    height: 200px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 400px;

    &::after
    {
        background: rgba(52, 152, 219, 0.7);
        background: linear-gradient(to bottom right, rgba(58, 153, 216, 0.7), rgba(155, 89, 182, 0.7));
        content: attr(data-projTitle);
        font-size: 22px;
        height: 100%;
        left: 0;
        line-height: 200px;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .2s;
        width: 100%;
    }

    &:hover, &:focus
    {
        border-color: transparent !important;

        &::after
        {
            opacity: 1;
            transition: none;
        }
    }

    @media only screen and (min-width: 737px)
    {
        margin-right: 32px;
        min-width: 400px;
    }
}

html.night-vision .proj-link
{
	border-color: #ddd;
}

.proj-desc
{
    @include media-phone-only
    {
        margin: 16px 0;
        text-align: center;
        width: 100%;
    }
}