table
{
    border: solid 1px #d0d0d0;
    border-collapse: collapse;
    width: 100%;

    &.fixed
    {
        table-layout: fixed;
    }

    + table
    {
        margin-top: 32px;
    }
}

html.night-vision table
{
    border-color: #505050;
}

td, th
{
    border: solid 1px #d0d0d0;
    padding: 8px 16px;
    width: 2%;
}

html.night-vision td,
html.night-vision th
{
    border-color: #505050;
}