#banner-bar
{
    padding: 0;
    overflow: hidden;
}

#banner-bar-content
{
    max-width: 1100px;
    padding: 16px 16px 0 16px;
    margin: 0 auto;
    text-align: center;
}

@keyframes fadeIn
{
    from
    {
        transform: translateY(-36px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}

.banner-header
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    margin: 64px auto;

    animation: fadeIn 560ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: -100ms;
}

.btn.banner-bar-btn
{
    font-size: 1.3rem;
    
    display: block;
    margin: 6px 16px;
    padding: 8px;
    min-width: 220px;
    height: 66px;
    border-radius: 8px;

    animation: fadeIn 560ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
    #banner-bar-content
	{
        text-align: left;
		padding: 96px 96px 48px 96px;
    }

    .btn.banner-bar-btn
    {
        min-width: 180px;
    }
}

@media only screen and (min-width: 850px)
{
    #banner-bar-content > .banner-header:before,
    #banner-bar-content > .banner-header:after
    {
        color: #3498db;
        white-space: pre;
    }

    #banner-bar-content > .banner-header:before
    {
        content: "[  ";
    }

    #banner-bar-content > .banner-header:after
    {
        content: "  ]";
    }

    .btn.banner-bar-btn
    {
        min-width: 220px;
    }
}