.btn
{
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 18px;
	text-align: center;

	min-width: 128px;
    min-height: 48px;
	padding: 0 16px 0 16px;
}

.btn.outline
{
	color: #3498db;
	background: transparent;
	border: solid 1px #3498db;
}

.btn.solid,
.btn.outline:hover
{
	color: #fff;
	background: #2980b9;
    border: none;
}

.btn.rect
{
	border-radius: 2px;
}

.btn.round
{
	border-radius: 1rem;
}

.btn.small
{
	font-size: 11px;
	line-height: 11px;

	min-width: 96px;
	min-height: 24px;
}

.btn:hover
{
	cursor: pointer;
}