#contact-form
{
    padding: 0 0 32px 0;
    width: 100%;
}

#contact-pane
{
	text-align: center;
	margin: 0 0 32px 0;
	padding: 7px 16px 16px 16px;
	border: solid 1px;
	border-radius: 2px;
    
    width: 100%;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{	
	#contact-form
	{
        padding: 0 32px 32px 0;
        order: 1;
	}
	
	#contact-pane
	{
        margin: 0 0 32px 0;
        order: 2;
        width: auto;
	}

	#contact-submit
	{
		margin-left: 76px;
	}
}
