.github-corner
{
    display: none;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
    .github-corner
    {
        display: initial;
        position: absolute;
        z-index: 1;
        right: 0;
    }

    .github-corner:hover
    {
        border: none !important;
    }

    @keyframes octocat-wave
    {
        0%, 56%, 100%
        {
            transform:rotate(0)
        }
        11%, 33%
        {
            transform:rotate(-25deg)
        }
        22%, 44%
        {
            transform:rotate(10deg)
        }
    }

    .github-corner:hover .octo-arm
    {
        animation: octocat-wave 1s ease-in-out;
        animation-iteration-count: infinite;
    }

    .github-corner-svg
    {
        fill: #3498db;
        border: 0; 
    }
}