@keyframes fadeInImage
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.image-round
{
    border-radius: 50%;
    display: block;

    width: 200px;
    height: 200px;
    margin: 0 auto;

    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    animation: fadeInImage 375ms;
}

/* Seperate rule for largely unsupported stuff */
.image-round
{
    margin-top: 16px;
    shape-outside: margin-box;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
    .image-round
    {
        margin-bottom: 16px;
    }

    .image-round.inline-left
    {
        float: left;
        margin-right: 32px;
    }

    .image-round.inline-right
    {
        float: right;
        margin-left: 32px;
    }
}