.flex-container
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.flex-mobile-wrap
{
    flex-wrap: wrap;
}

.mobile-second
{
    order: 2;
}

.full-width
{
    position: relative;
    margin-left: -16px;
	margin-right: -16px;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{	
    .flex-mobile-wrap
    {
        flex-wrap: nowrap;
    }
    
    .mobile-second
    {
        order: unset;
    }
    
    .full-width
    {
        margin-left: 0;
		margin-right: 0;
    }
}

@media only screen and (min-width: 850px)
{
    .three-columns
    {
        display: flex;
        margin-top: 32px; 
    }

    .three-columns .column
    {
        width: 33%;
    }

    .column + .column
    {
        margin-left: 32px;
    }
}