a
{
    color: #3498db;
	text-decoration: none;
}

p > a
{
    font-weight: bold;
}

a:hover
{
	text-decoration: underline;
}

#skip-link
{
    display: block;
    position: absolute;

    background: #3498db;
    color: #fff;

    padding: 0 16px;
    z-index: 8;
    align-self: center;
    border-radius: 0 0 2px 2px;

    will-change: transform;
    transform: translateY(-999px);
    transition: transform 0.15s;
}

#skip-link:focus
{
    transform: translateY(0);
}