#main-container
{
    flex: 1;
}

#main
{
	padding: 48px 0 96px 0;
	min-height: 100%;
    width: 100%;
    overflow: hidden;

    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    will-change: opacity;
}

#main.new
{
    opacity: 0.5;
}

#main-content
{
    max-width: 1100px;
    padding: 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
	#main
	{
		padding: 96px 0;
	}

	#main-content
	{
		padding: 32px;
	}
}
