/* Navigation links in header */
.nav-btn
{
	font-family: "Lato", sans-serif;
	text-align: center;
	text-decoration: none !important;
	
	display: inline-block;
    position: relative;
	color: #1e5b83;
    text-shadow: 0 1px 0 #3498db;
    
	width: 25%;
    height: 100%;
}

/* Color the current location */
.nav-btn.current
{
	color: #fff;
    text-shadow: none;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
	.nav-btn
	{
		color: inherit;
        text-shadow: none;
	}

    .nav-btn.current
	{
		color: #3498db;
		height: 98px;
		top: -1px;
		border: solid 1px;
		border-bottom: none;
    }
}
