/* Navigation links in header */
.nav-btn
{
	font-family: "Open Sans", sans-serif;
	text-align: center;
	text-decoration: none !important;
	
	display: inline-block;
    position: relative;
	color: #1e5b83;
    text-shadow: 0 1px 0 #3498db;
    
	width: 25%;
}

/* Color the current location */
.nav-btn.current
{
	color: #fff;
    text-shadow: none;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
	.nav-btn
	{
		color: inherit;
        text-shadow: none;
		transition: background-color .2s;
		margin: 0 4px;
	}

	.nav-btn:hover
	{
		transition: none;
	}

    .nav-btn.current
	{
		color: #3498db;
    }
}

@media only screen and (min-width: 850px)
{
	.nav-btn
	{
		padding: 0 24px;
		width: unset;
	}
}