/* The visible bar up top */
header
{
	font-family: "Lato", sans-serif;
	position: fixed;
	width: 100%;
	text-align: center;
    z-index: 1;
}

#nav-bar-container
{
	display: flex;
    justify-content: space-between;
}

.nav-bar-logo
{
	display: none;
}

/* Contains the main nav links */
#main-nav
{
	display: flex;
	width: 100%;
	height: 48px;
	line-height: 48px;
	
	background-color: #2980b9;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{	
	header
	{
		position: absolute;
	}

	#nav-bar-container
	{
		display: flex;
		justify-content: space-between;
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 32px;
	}
	
	#main-nav
	{
        height: 96px;
		line-height: 96px;
		width: 448px;
		background-color: transparent;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 850px)
{
	.nav-bar-logo
	{
		font-family: "Lato", sans-serif;

		display: flex;
		align-items: center;
		padding-right: 16px;

		line-height: 96px;
		font-size: 24px;
		letter-spacing: -1px;
		text-decoration: none !important;
	}

	.nav-bar-logo:before
	{
		content: "";

		display: inline-block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url("/include_/img/logo_v1.svg");

		height: 40px;
		width: 40px;
		border-radius: 50%;
		margin: 16px;

		will-change: transform;
		transition: transform .3s;
	}

	.nav-bar-logo:hover:before
	{
		transform: rotateZ(360deg);
	}

	#main-nav
	{
        margin: 0;
	}
}
