/* The visible bar up top */
header
{
	font-family: "Lato", sans-serif;
	position: fixed;
	width: 100%;
	text-align: center;
    z-index: 1;
}

#nav-bar-container
{
	display: flex;
    justify-content: space-between;
}

.nav-bar-logo
{
	display: none;
}

/* Contains the main nav links */
#main-nav
{
	display: flex;
	width: 100%;
	height: 48px;
	line-height: 48px;
	
	background-color: #2980b9;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
	header
	{
		position: static;
		border-bottom: solid 1px;
		padding-top: 1px;
	}

	header:after
	{
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-image: linear-gradient(to right, transparent, transparent, #3498db);
	}

	#nav-bar-container
	{
		display: flex;
		justify-content: space-between;
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 32px;
	}
	
	#main-nav
	{
        height: 96px;
		width: 475px;
		background-color: transparent;
		margin: 0 auto;
		align-items: center;
	}
}

@media only screen and (min-width: 850px)
{
	.nav-bar-logo
	{
		font-family: "Lato", sans-serif;
		font-weight: 100;

		display: flex;
		align-items: center;
		padding-right: 16px;

		line-height: 96px;
		font-size: 24px;
		letter-spacing: -1px;
		text-decoration: none !important;
	}

	@keyframes logoMove
	{
		8%        { transform: rotateZ(60deg); }
		16%       { transform: rotateZ(-30deg); }
		24%       { transform: rotateZ(15deg); }
		32%, 100% { transform: rotateZ(0deg); }
	}

	.nav-bar-logo:before
	{
		content: "";

		display: inline-block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url("/_include/img/logo_v2.svg");

		height: 40px;
		width: 40px;
		border-radius: 50%;
		margin: 16px;

		will-change: transform;
	}

	.nav-bar-logo:hover:before
	{
		animation: logoMove 1s ease-in-out;
		animation-iteration-count: infinite;
	}

	#main-nav
	{
        margin: 0;
		justify-content: flex-end;
	}
}
