.form-submit
{
    margin-top: 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.form-submit.in-progress
{
    background: #d35400;
    border-color: #d35400;
}

.form-submit.success
{
    background: #27ae60;
    border-color: #27ae60;
}

/* Special case */
.btn.form-submit.success::before
{
    visibility: hidden;
}

.form-submit.error
{
    background: #e74c3c;
    border-color: #e74c3c;
}

.submit-progress-bar
{
    content: "";
    height: 100%;
    display: block;
    background: #e67e22;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#main-progress-bar
{
    background: #fefeff;
    display: block;
    position: fixed;
    height: 2px;
    z-index: 2;
}

[data-progress]
{
    transition: width 125ms linear;
}

[data-progress="0"]   { width: 0; transition: none; }
[data-progress="20"]  { width: 20%; }
[data-progress="40"]  { width: 40%; }
[data-progress="60"]  { width: 60%; }
[data-progress="80"]  { width: 80%; }
[data-progress="100"] { width: 100%; opacity: 0; transition: opacity 125ms linear 0ms, width 125ms linear; }

#main-progress-bar[data-progress="100"]
{
    transition: opacity 125ms linear 325ms, width 125ms linear;
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
    #main-progress-bar
    {
        background: #e67e22;
        /*box-shadow: 0 0 2px #e67e22;*/
    }
}