@import "globals";

.form-submit
{
    margin-top: 16px;
    overflow: hidden;
    position: relative;

    &.success
    {
        background: $flat-green;
        border-color: $flat-green;

        // Special case TODO: when?
        &::before
        {
            visibility: hidden;
        }
    }

    &.error
    {
        background: $flat-red;
        border-color: $flat-red;
    }
}

.submit-progress-bar
{
    background: #e67e22;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

[data-progress]
{
    transition: width 125ms linear;
}

[data-progress="0"]   { width: 0; transition: none; }
[data-progress="20"]  { width: 20%; }
[data-progress="40"]  { width: 40%; }
[data-progress="60"]  { width: 60%; }
[data-progress="80"]  { width: 80%; }
[data-progress="100"] { width: 100%; opacity: 0; transition: opacity 125ms linear 0ms, width 125ms linear; }

#main-progress-bar
{
    background: #fefeff;
    display: block;
    height: 2px;
    position: fixed;
    z-index: 2;

    &[data-progress="100"]
    {
        transition: opacity 125ms linear 325ms, width 125ms linear;
    }
}