.sub-section-header,
.section-header
{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    padding-bottom: 6px;
    text-align: center;
    margin-top: 8px;
	margin-bottom: 16px;
}


p ~ .section-header,
p ~ .sub-section-header
{
    margin-top: 64px; 
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
    .section-header
	{
		font-size: 1.85em;
	}

    .sub-section-header
	{
		font-size: 1.25em;
	}
}