.main-header
{
	font-size: 2rem;
    line-height: 64px;
	font-weight: normal;
    text-align: center;
    margin: 0;
}

.sub-section-header,
.section-header
{
    font-weight: normal;
    padding-bottom: 6px;
    text-align: center;
    margin-top: 8px;
	margin-bottom: 16px;
}


p ~ .section-header,
p ~ .sub-section-header
{
    margin-top: 64px; 
}

@media only screen and (min-width: 1px) and (min-width: 737px)
{
    .main-header
    {
        line-height: 96px;
        font-size: 3rem;
        text-align: left;
    }

    .section-header
	{
		font-size: 2.08rem;
	}

    .sub-section-header
	{
		font-size: 1.4rem;
	}
}