.switch
{
    position: relative;
    padding: 0;
    margin: 0;
    width: 56px;
    height: 0;
}

.switch:before, .switch:after
{
    content: "";
    display: block;
    position: absolute;
}

.switch:before
{
    width: 56px;
    height: 32px;
    
    border-radius: 16px;
    transition: background .2s;
}

.switch:after
{
    width: 26px;
    height: 26px;
    
    border-radius: 14px;
    transition: transform 0.2s;
    left: 3px;
    top: 3px;
}

.switch:checked:before
{
    background: #2980b9;
    border-color: #2980b9;
}

.switch:checked:after
{
    transform: translateX(24px);
}