.text-field
{
    font-family: "Lato", sans-serif;
    font-size: 1rem;

    width: 100%;
    padding: 14px 16px;
    border: solid 1px;
}

.text-field ~ .text-field
{
    /*margin-top: 2px;*/
    border-top: none; 
}

textarea
{
	resize: vertical;
    vertical-align: top;
    line-height: 1em;
}